:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  font-size: 20px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-family: inherit;
  background-color: #bbe1ff;
  cursor: pointer;
  transition: border-color 0.25s;
  font-size: 20px;
}

.delete-button {
  font-size: 14px;
  background-color: #ffbbbb;
  border-radius: 4px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

a {
  color: #213547;
  text-decoration: underline;
  font-size: 20px;

  &:hover {
    color: #213547;
  }
}

/* input 기본 스타일 초기화 */
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* IE10 이상에서 input box 에 추가된 지우기 버튼 제거 */
input::-ms-clear {
  display: none;
}

/* input type number 에서 화살표 제거 */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input {
  outline: none;
  border: none;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

label {
  align-self: flex-start;
  font-size: 24px;
  color: black;
}

input {
  font-size: 20px;
  padding: 12px 20px;
  border-radius: 10px;
  border: 1px solid rgb(205, 205, 205);

  &::placeholder {
    color: rgb(147, 147, 147);
  }
}
